@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

* {
    margin: 0;
    padding: 0;
}

.fullbg {
    background-image: url("./Images/bg1.png");
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.c1 h1 {
    font-size: 70px;
    color: yellow;
    font-weight: 600;
    font-family: 'Rubik Gemstones', cursive;
}


.c2 {
    width: 900px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-self: center;
}


.c2 .question {
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 30px;
    padding: 15px 25px;
    margin: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.c2 .option {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
}

.c2 .optionIn {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

.c2 .option .circle1 {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
}


.c2 .rightanswer {
    background-color: #99B83C;
    display: flex;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
}
.c2 .rightanswer .circle1{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px;
    background-image:url("./Images/right.png");
    background-size: cover;
}
    
.c2 .wronganswer {
    background-color: #B83C3C;
    display: flex;
    width: 100%;
    margin: 10px;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
}
.c2 .wronganswer .circle1{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px;
    background-image:url("./Images/wrong.png");
    background-size: cover;
}
    


.c3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.c3 button{
    background-color: #fff;
    color: black;
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 600;

    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;


}


.c3 button:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

/*  ------------------------------------------------------------------------ */
.scoreboard{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background-color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.scoretext{
    font-size: 20px;
    color: white;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
#score{
    font-size: 20px;
    background-color: yellow;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}


.c2 .option:hover{
    background-color: yellow;
    /* color: white; */
    cursor: pointer;
}